@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

body{
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    background-image: url("fondo.png");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact_form{
    width: 460px;
    height: auto;
    margin: 30px 700px;
    background-color: rgba(68, 68, 68, 0.3);
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.contact_form:hover{
    background-color: rgba(68, 68, 68, 0.4);
    transition: .8s;
}
input{
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding-left: 10px;
}
textarea{
    background-color: rgb(251, 251, 251);
    width: 405px;
    height: 100px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 5px; 
    padding-top: 15px; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
label{
    display: block;
    float: center;
}
button{
    width: 40%;
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px; 
	margin-top: 10px;
    text-transform: uppercase;
    background-color: #9fd6f3;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}
button:hover{
    background-color: rgb(255, 255, 255);
    transition: .8s;
    
}
.reset{
    width: 40%;
    height: 45px;
    float: right;
    margin-right: 40px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #9fd6f3;
    border-radius: 10px;
    color: rgb(36, 36, 36);
    cursor: pointer;
}
.reset:hover{
    background-color: rgb(255, 255, 255);
    transition: .8s;
    
}

button p{
    color: rgb(36, 36, 36);
}
span{
	color: orange; 
}
.aviso{
	font-size: 13px;  
	color: #ffffff;  
}
h1{
    font-size: 30px;
    text-align: center;
    color: #0e0e0e;
}
p{
	font-size: 14px; 
	color: #ffffff; 
}
::-webkit-input-placeholder {
 color: #a8a8a8;
}
::-webkit-textarea-placeholder {
    color: #a8a8a8;
   }
.formulario input:focus{
	outline:0;
	border: 1px solid #9fd6f3;
}
.formulario textarea:focus{
	outline:0;
	border: 1px solid #9fd6f3;
}









